gRPC Telemetry: ERROR [django.request:222] Start servicer: Failed to bind to address

Hi Team，

when I click the "start receiver", the server monitor always reminds us in a failure.
Did you meet the issue?
<img width="1613" alt="Screenshot 2023-03-09 at 16 04 24" src="https://user-images.githubusercontent.com/105212121/223958957-252264b1-fca1-443c-a7b9-e51d1a56ca82.png">



docker-yangsuite-1  | E0308 03:42:44.470673018      66 server_chttp2.cc:48]        {"created":"@1678246964.470609640","description":"No address added out of total 1 resolved","file":"src/core/ext/transport/chttp2/server/chttp2_server.cc","file_line":935,"referenced_errors":[{"created":"@1678246964.470601669","description":"Unable to configure socket","fd":9,"file":"src/core/lib/iomgr/tcp_server_utils_posix_common.cc","file_line":217,"referenced_errors":[{"created":"@1678246964.470578209","description":"Cannot assign requested address","errno":99,"file":"src/core/lib/iomgr/tcp_server_utils_posix_common.cc","file_line":191,"os_error":"Cannot assign requested address","syscall":"bind"}]}]}
docker-yangsuite-1  | [08/Mar/2023 03:42:44] ERROR [django.request:222] Start servicer: Failed to bind to address 10.106.116.197:60001; set GRPC_VERBOSITY=debug environment variable to see detailed error message.: /grpctelemetry/servicer/60001/start
docker-yangsuite-1  | [pid: 66|app: 0|req: 10/18] 72.163.224.64 () {60 vars in 1307 bytes} [Wed Mar  8 03:42:44 2023] POST /grpctelemetry/servicer/60001/start => generated 2 bytes in 4 msecs (HTTP/2.0 500) 4 headers in 251 bytes (2 switches on core 0)
docker-nginx-1      | 72.163.224.64 - - [08/Mar/2023:03:42:44 +0000] "POST /grpctelemetry/servicer/60001/start HTTP/2.0" 500 2 "https://10.106.116.197:8443/grpctelemetry/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/110.0"


"``Start servicer: Failed to bind to address 10.106.116.197:60001;``".

You were unable to establish a TCP connection to 10.106.116.197:60001.  Verify the device telemetry configuration is correct.  That configuration must have the IP address of the yangsuite server and port 60001.

Yangsuite is a listener in this case and once the TCP connection is established, when the device has data, it is supposed to stream it to yangsuite.

> 

I checked the communication. the port 60001 couldn't be reachable due to  the port 60001 didn't exist on the Yangsuite server.
2023-03-09 07:12:17.594115 10.124.39.37 -> 10.106.116.197 TCP 21268 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175223819 TSER=0 WS=10
2023-03-09 07:12:18.596811 10.124.39.37 -> 10.106.116.197 TCP 21268 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175224120 TSER=0 WS=10
2023-03-09 07:12:19.596352 10.124.39.37 -> 10.106.116.197 TCP 21269 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175224419 TSER=0 WS=10
2023-03-09 07:12:20.596830 10.124.39.37 -> 10.106.116.197 TCP 21269 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175224720 TSER=0 WS=10
2023-03-09 07:12:21.596869 10.124.39.37 -> 10.106.116.197 TCP 21270 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175225020 TSER=0 WS=10
2023-03-09 07:12:22.600162 10.124.39.37 -> 10.106.116.197 TCP 21270 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175225321 TSER=0 WS=10
2023-03-09 07:12:23.597946 10.124.39.37 -> 10.106.116.197 TCP 21271 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175225620 TSER=0 WS=10
2023-03-09 07:12:24.600139 10.124.39.37 -> 10.106.116.197 TCP 21271 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175225921 TSER=0 WS=10
2023-03-09 07:12:27.661030 10.124.39.37 -> 10.106.116.197 TCP 21272 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175226839 TSER=0 WS=10
2023-03-09 07:12:28.663478 10.124.39.37 -> 10.106.116.197 TCP 21272 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175227140 TSER=0 WS=10
2023-03-09 07:12:29.662029 10.124.39.37 -> 10.106.116.197 TCP 21273 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175227439 TSER=0 WS=10
2023-03-09 07:12:30.663494 10.124.39.37 -> 10.106.116.197 TCP 21273 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175227740 TSER=0 WS=10
2023-03-09 07:12:31.664254 10.124.39.37 -> 10.106.116.197 TCP 21274 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175228040 TSER=0 WS=10


[test@server ~]$ netstat -ntlp
(Not all processes could be identified, non-owned process info
 will not be shown, you would have to be root to see it all.)
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name    
tcp        0      0 0.0.0.0:22              0.0.0.0:*               LISTEN      -                   
tcp        0      0 0.0.0.0:8443            0.0.0.0:*               LISTEN      -                   
tcp        0      0 0.0.0.0:443             0.0.0.0:*               LISTEN      -                   
tcp        0      0 0.0.0.0:9339            0.0.0.0:*               LISTEN      -                   
tcp        0      0 0.0.0.0:57344           0.0.0.0:*               LISTEN      -                   
tcp        0      0 0.0.0.0:57345           0.0.0.0:*               LISTEN      -                   
tcp        0      0 0.0.0.0:50051           0.0.0.0:*               LISTEN      -                   
tcp        0      0 0.0.0.0:50052           0.0.0.0:*               LISTEN      -                   
tcp        0      0 0.0.0.0:80              0.0.0.0:*               LISTEN      -                   
tcp6       0      0 :::22                   :::*                    LISTEN      -                   
tcp6       0      0 :::8443                 :::*                    LISTEN      -                   
tcp6       0      0 :::443                  :::*                    LISTEN      -                   
tcp6       0      0 :::9339                 :::*                    LISTEN      -                   
tcp6       0      0 :::57344                :::*                    LISTEN      -                   
tcp6       0      0 :::57345                :::*                    LISTEN      -                   
tcp6       0      0 :::50051                :::*                    LISTEN      -                   
tcp6       0      0 :::50052                :::*                    LISTEN      -                   
tcp6       0      0 :::80                   :::*                    LISTEN      -                   
[test@server ~]$ 

[test@server ~]$ docker ps
CONTAINER ID   IMAGE              COMMAND                  CREATED      STATUS        PORTS                                                                                                                                                                                                                            NAMES
e3180480a2a1   nginx:latest       "/docker-entrypoint.…"   2 days ago   Up 28 hours   0.0.0.0:80->80/tcp, :::80->80/tcp, 0.0.0.0:8443->8443/tcp, :::8443->8443/tcp                                                                                                                                                     docker-nginx-1
f7bcf68d549a   backup:latest      "/code/run_cron.sh"      2 days ago   Up 28 hours                                                                                                                                                                                                                                    docker-backup-1
f71a0f505e28   yangsuite:latest   "/yangsuite/migrate_…"   2 days ago   Up 28 hours   0.0.0.0:443->443/tcp, :::443->443/tcp, 0.0.0.0:9339->9339/tcp, :::9339->9339/tcp, 0.0.0.0:50051-50052->50051-50052/tcp, :::50051-50052->50051-50052/tcp, 0.0.0.0:57344-57345->57344-57345/tcp, :::57344-57345->57344-57345/tcp   docker-yangsuite-1
[test@server ~]$


> "`Start servicer: Failed to bind to address 10.106.116.197:60001;`".
> 
> You were unable to establish a TCP connection to 10.106.116.197:60001. Verify the device telemetry configuration is correct. That configuration must have the IP address of the yangsuite server and port 60001.
> 
> Yangsuite is a listener in this case and once the TCP connection is established, when the device has data, it is supposed to stream it to yangsuite.

I checked the communication. port 60001 couldn't be reachable due to port 60001 didn't exist on the Yangsuite server.

2023-03-09 07:12:17.594115 10.124.39.37 -> 10.106.116.197 TCP 21268 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175223819 TSER=0 WS=10
2023-03-09 07:12:18.596811 10.124.39.37 -> 10.106.116.197 TCP 21268 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175224120 TSER=0 WS=10
2023-03-09 07:12:19.596352 10.124.39.37 -> 10.106.116.197 TCP 21269 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175224419 TSER=0 WS=10
2023-03-09 07:12:20.596830 10.124.39.37 -> 10.106.116.197 TCP 21269 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175224720 TSER=0 WS=10
2023-03-09 07:12:21.596869 10.124.39.37 -> 10.106.116.197 TCP 21270 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175225020 TSER=0 WS=10
2023-03-09 07:12:22.600162 10.124.39.37 -> 10.106.116.197 TCP 21270 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175225321 TSER=0 WS=10
2023-03-09 07:12:23.597946 10.124.39.37 -> 10.106.116.197 TCP 21271 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175225620 TSER=0 WS=10
2023-03-09 07:12:24.600139 10.124.39.37 -> 10.106.116.197 TCP 21271 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175225921 TSER=0 WS=10
2023-03-09 07:12:27.661030 10.124.39.37 -> 10.106.116.197 TCP 21272 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175226839 TSER=0 WS=10
2023-03-09 07:12:28.663478 10.124.39.37 -> 10.106.116.197 TCP 21272 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175227140 TSER=0 WS=10
2023-03-09 07:12:29.662029 10.124.39.37 -> 10.106.116.197 TCP 21273 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175227439 TSER=0 WS=10
2023-03-09 07:12:30.663494 10.124.39.37 -> 10.106.116.197 TCP 21273 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175227740 TSER=0 WS=10
2023-03-09 07:12:31.664254 10.124.39.37 -> 10.106.116.197 TCP 21274 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=175228040 TSER=0 WS=10

[test@server ~]$ netstat -ntlp
(Not all processes could be identified, non-owned process info
will not be shown, you would have to be root to see it all.)
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address Foreign Address State PID/Program name
tcp 0 0 0.0.0.0:22 0.0.0.0:* LISTEN -
tcp 0 0 0.0.0.0:8443 0.0.0.0:* LISTEN -
tcp 0 0 0.0.0.0:443 0.0.0.0:* LISTEN -
tcp 0 0 0.0.0.0:9339 0.0.0.0:* LISTEN -
tcp 0 0 0.0.0.0:57344 0.0.0.0:* LISTEN -
tcp 0 0 0.0.0.0:57345 0.0.0.0:* LISTEN -
tcp 0 0 0.0.0.0:50051 0.0.0.0:* LISTEN -
tcp 0 0 0.0.0.0:50052 0.0.0.0:* LISTEN -
tcp 0 0 0.0.0.0:80 0.0.0.0:* LISTEN -
tcp6 0 0 :::22 :::* LISTEN -
tcp6 0 0 :::8443 :::* LISTEN -
tcp6 0 0 :::443 :::* LISTEN -
tcp6 0 0 :::9339 :::* LISTEN -
tcp6 0 0 :::57344 :::* LISTEN -
tcp6 0 0 :::57345 :::* LISTEN -
tcp6 0 0 :::50051 :::* LISTEN -
tcp6 0 0 :::50052 :::* LISTEN -
tcp6 0 0 :::80 :::* LISTEN -
[test@server ~]$

[test@server ~]$ docker ps
CONTAINER ID IMAGE COMMAND CREATED STATUS PORTS NAMES
e3180480a2a1 nginx:latest "/docker-entrypoint.…" 2 days ago Up 28 hours 0.0.0.0:80->80/tcp, :::80->80/tcp, 0.0.0.0:8443->8443/tcp, :::8443->8443/tcp docker-nginx-1
f7bcf68d549a backup:latest "/code/run_cron.sh" 2 days ago Up 28 hours docker-backup-1
f71a0f505e28 yangsuite:latest "/yangsuite/migrate_…" 2 days ago Up 28 hours 0.0.0.0:443->443/tcp, :::443->443/tcp, 0.0.0.0:9339->9339/tcp, :::9339->9339/tcp, 0.0.0.0:50051-50052->50051-50052/tcp, :::50051-50052->50051-50052/tcp, 0.0.0.0:57344-57345->57344-57345/tcp, :::57344-57345->57344-57345/tcp docker-yangsuite-1
[test@server ~]$

I see.  If you look at the docker-compose.yml file you will see the common port mapping for gRPC for telemetry.
```
        # gRPC MDT telemetry insecure port (IOS-XE)
        - "57344:57344"
        # gRPC MDT telemetry secure port (IOS-XE)
        - "57345:57345"
```
If you change the device config telemetry port to one of those ports and set the yangsuite server to listen on 57344 or 57345 the traffic should get through to the container.  To make it more dynamic without editing the docker-compose.yml every time, you could use environment settings.  Change docker-compose.yml to this:
```
        # gRPC MDT telemetry insecure port (IOS-XE)
        - ${GRPC_PORT1}:57344
        # gRPC MDT telemetry secure port (IOS-XE)
        - ${GRPC_PORT2}:57345
 ```
From your terminal stop the containers and do this:
```
export GRPC_PORT1=60001
export GRPC_PORT1=60002
docker-compose up
```
Let me know if that works for you.

1. In this way, I could set up ports 60001 and 60002 on the server successfully.

[test@server docker]# netstat -ntlp
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name    
tcp        0      0 0.0.0.0:80              0.0.0.0:*               LISTEN      3385/docker-proxy   
tcp        0      0 0.0.0.0:22              0.0.0.0:*               LISTEN      986/sshd            
tcp        0      0 0.0.0.0:8443            0.0.0.0:*               LISTEN      3362/docker-proxy   
tcp        0      0 0.0.0.0:443             0.0.0.0:*               LISTEN      3203/docker-proxy   
tcp        0      0 0.0.0.0:9339            0.0.0.0:*               LISTEN      3180/docker-proxy   
tcp        0      0 0.0.0.0:57344           0.0.0.0:*               LISTEN      3116/docker-proxy   
tcp        0      0 0.0.0.0:57345           0.0.0.0:*               LISTEN      3094/docker-proxy   
tcp        0      0 0.0.0.0:60001           0.0.0.0:*               LISTEN      3072/docker-proxy   
tcp        0      0 0.0.0.0:60002           0.0.0.0:*               LISTEN      3049/docker-proxy   
tcp        0      0 0.0.0.0:50051           0.0.0.0:*               LISTEN      3159/docker-proxy   
tcp        0      0 0.0.0.0:50052           0.0.0.0:*               LISTEN      3137/docker-proxy   
tcp6       0      0 :::80                   :::*                    LISTEN      3392/docker-proxy   
tcp6       0      0 :::22                   :::*                    LISTEN      986/sshd            
tcp6       0      0 :::8443                 :::*                    LISTEN      3371/docker-proxy   
tcp6       0      0 :::443                  :::*                    LISTEN      3211/docker-proxy   
tcp6       0      0 :::9339                 :::*                    LISTEN      3187/docker-proxy   
tcp6       0      0 :::57344                :::*                    LISTEN      3123/docker-proxy   
tcp6       0      0 :::57345                :::*                    LISTEN      3101/docker-proxy   
tcp6       0      0 :::60001                :::*                    LISTEN      3079/docker-proxy   
tcp6       0      0 :::60002                :::*                    LISTEN      3058/docker-proxy   
tcp6       0      0 :::50051                :::*                    LISTEN      3166/docker-proxy   
tcp6       0      0 :::50052                :::*                    LISTEN      3145/docker-proxy   
[test@server docker]# 


[test@server docker]# docker ps
CONTAINER ID   IMAGE              COMMAND                  CREATED          STATUS          PORTS                                                                                                                                                                                                                                                                                                   NAMES
37a60d3358f6   alpine             "/bin/sh"                18 minutes ago   Up 18 minutes                                                                                                                                                                                                                                                                                                           angry_napier
ab5aa3601503   nginx:latest       "/docker-entrypoint.…"   58 minutes ago   Up 58 minutes   0.0.0.0:80->80/tcp, :::80->80/tcp, 0.0.0.0:8443->8443/tcp, :::8443->8443/tcp                                                                                                                                                                                                                            docker-nginx-1
fb3c48aeca60   backup:latest      "/code/run_cron.sh"      58 minutes ago   Up 58 minutes                                                                                                                                                                                                                                                                                                           docker-backup-1
d019510faf98   yangsuite:latest   "/yangsuite/migrate_…"   58 minutes ago   Up 58 minutes   0.0.0.0:443->443/tcp, :::443->443/tcp, 0.0.0.0:9339->9339/tcp, :::9339->9339/tcp, 0.0.0.0:50051-50052->50051-50052/tcp, :::50051-50052->50051-50052/tcp, 0.0.0.0:57344-57345->57344-57345/tcp, :::57344-57345->57344-57345/tcp, 0.0.0.0:60001-60002->60001-60002/tcp, :::60001-60002->60001-60002/tcp   docker-yangsuite-1
[test@server docker]# 

2. But the ERROR is still there, 60001 couldn't be reachable. even I log in to the server and test port 60001, it shows us "Connection refused"
 
![Uploading Screenshot 2023-03-10 at 14.14.39.png…]()


docker-yangsuite-1  | E0310 06:13:54.173235735      63 server_chttp2.cc:48]        {"created":"@1678428834.173199841","description":"No address added out of total 1 resolved","file":"src/core/ext/transport/chttp2/server/chttp2_server.cc","file_line":935,"referenced_errors":[{"created":"@1678428834.173176872","description":"Unable to configure socket","fd":10,"file":"src/core/lib/iomgr/tcp_server_utils_posix_common.cc","file_line":217,"referenced_errors":[{"created":"@1678428834.173162662","description":"Cannot assign requested address","errno":99,"file":"src/core/lib/iomgr/tcp_server_utils_posix_common.cc","file_line":191,"os_error":"Cannot assign requested address","syscall":"bind"}]}]}
docker-yangsuite-1  | [10/Mar/2023 06:13:54] ERROR [django.request:222] Start servicer: Failed to bind to address 10.106.116.197:60001; set GRPC_VERBOSITY=debug environment variable to see detailed error message.: /grpctelemetry/servicer/60001/start
docker-nginx-1      | 72.163.224.64 - - [10/Mar/2023:06:13:54 +0000] "POST /grpctelemetry/servicer/60001/start HTTP/2.0" 500 2 "https://10.106.116.197:8443/grpctelemetry/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/110.0"
docker-yangsuite-1  | [pid: 63|app: 0|req: 7/35] 72.163.224.64 () {60 vars in 1307 bytes} [Fri Mar 10 06:13:54 2023] POST /grpctelemetry/servicer/60001/start => generated 2 bytes in 4 msecs (HTTP/2.0 500) 4 headers in 251 bytes (1 switches on core 0)


[test@server cisco]# ssh -v -p 60001 cisco@10.106.116.197
OpenSSH_8.0p1, OpenSSL 1.1.1k  FIPS 25 Mar 2021
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: Reading configuration data /etc/ssh/ssh_config.d/05-redhat.conf
debug1: Reading configuration data /etc/crypto-policies/back-ends/openssh.config
debug1: configuration requests final Match pass
debug1: re-parsing configuration
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: Reading configuration data /etc/ssh/ssh_config.d/05-redhat.conf
debug1: Reading configuration data /etc/crypto-policies/back-ends/openssh.config
debug1: Connecting to 10.106.116.197 [10.106.116.197] port 60001.
debug1: connect to address 10.106.116.197 port 60001: Connection refused
ssh: connect to host 10.106.116.197 port 60001: Connection refused  <<<<<<<<<<<<<<<<<<<<<<<<
[test@server cisco]# 
[test@server cisco]# 


[test@server docker]# ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host 
       valid_lft forever preferred_lft forever
2: ens32: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel state UP group default qlen 1000
    link/ether 00:50:56:bd:28:b4 brd ff:ff:ff:ff:ff:ff
    altname enp2s0
    inet 10.106.116.197/27 brd 10.106.116.223 scope global noprefixroute ens32
       valid_lft forever preferred_lft forever
    inet6 fe80::250:56ff:febd:28b4/64 scope link noprefixroute 
       valid_lft forever preferred_lft forever
3: br-4ec5f82462ea: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default 
    link/ether 02:42:6d:46:f5:4e brd ff:ff:ff:ff:ff:ff
    inet 172.18.0.1/16 brd 172.18.255.255 scope global br-4ec5f82462ea
       valid_lft forever preferred_lft forever
    inet6 fe80::42:6dff:fe46:f54e/64 scope link 
       valid_lft forever preferred_lft forever
4: docker0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default 
    link/ether 02:42:1e:57:bc:06 brd ff:ff:ff:ff:ff:ff
    inet 172.17.0.1/16 brd 172.17.255.255 scope global docker0
       valid_lft forever preferred_lft forever
    inet6 fe80::42:1eff:fe57:bc06/64 scope link 
       valid_lft forever preferred_lft forever
12: vethfce51f8@if11: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue master br-4ec5f82462ea state UP group default 
    link/ether 7e:60:48:90:25:c8 brd ff:ff:ff:ff:ff:ff link-netnsid 0
    inet6 fe80::7c60:48ff:fe90:25c8/64 scope link 
       valid_lft forever preferred_lft forever
14: vethbd73de3@if13: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue master br-4ec5f82462ea state UP group default 
    link/ether 82:dc:66:92:5e:51 brd ff:ff:ff:ff:ff:ff link-netnsid 1
    inet6 fe80::80dc:66ff:fe92:5e51/64 scope link 
       valid_lft forever preferred_lft forever
16: veth21a1a68@if15: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue master br-4ec5f82462ea state UP group default 
    link/ether 82:84:71:77:a9:06 brd ff:ff:ff:ff:ff:ff link-netnsid 2
    inet6 fe80::8084:71ff:fe77:a906/64 scope link 
       valid_lft forever preferred_lft forever
18: veth5528d5d@if17: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue master docker0 state UP group default 
    link/ether 32:11:32:52:e6:fe brd ff:ff:ff:ff:ff:ff link-netnsid 3
    inet6 fe80::3011:32ff:fe52:e6fe/64 scope link 
       valid_lft forever preferred_lft forever
[test@server docker]# 

2023-03-10 03:07:35.390212 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42778 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:07:44.037146 10.124.39.37 -> 10.106.116.197 TCP 42779 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196741754 TSER=0 WS=10
2023-03-10 03:07:44.166537 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42779 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:07:44.853887 10.124.39.37 -> 10.106.116.197 TCP 42780 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196741999 TSER=0 WS=10
2023-03-10 03:07:44.983354 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42780 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:07:45.279701 10.124.39.37 -> 10.106.116.197 TCP 42781 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196742127 TSER=0 WS=10
2023-03-10 03:07:45.409158 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42781 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:07:54.040342 10.124.39.37 -> 10.106.116.197 TCP 42782 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196744755 TSER=0 WS=10
2023-03-10 03:07:54.169954 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42782 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:07:54.853825 10.124.39.37 -> 10.106.116.197 TCP 42783 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196744999 TSER=0 WS=10
2023-03-10 03:07:54.983324 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42783 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:07:55.228298 10.124.39.37 -> 10.106.116.197 TCP 42784 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196745111 TSER=0 WS=10
2023-03-10 03:07:55.357823 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42784 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:08:04.031929 10.124.39.37 -> 10.106.116.197 TCP 42785 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196747752 TSER=0 WS=10
2023-03-10 03:08:04.161395 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42785 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:08:04.855486 10.124.39.37 -> 10.106.116.197 TCP 42786 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196747999 TSER=0 WS=10
2023-03-10 03:08:04.984779 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42786 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:08:05.268016 10.124.39.37 -> 10.106.116.197 TCP 42787 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196748123 TSER=0 WS=10
2023-03-10 03:08:05.397304 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42787 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0
2023-03-10 03:08:14.026293 10.124.39.37 -> 10.106.116.197 TCP 42788 > 60001 [SYN] Seq=0 Win=29200 Len=0 MSS=1460 TSV=196750750 TSER=0 WS=10
2023-03-10 03:08:14.155728 10.106.116.197 -> 10.124.39.37 TCP 60001 > 42788 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0

3.  the list is in docker yangsuite:latest. I don't know which port is missed 
root@d019510faf98:/# 
root@d019510faf98:/# less /etc/services 
# Network services, Internet style
#
# Note that it is presently the policy of IANA to assign a single well-known
# port number for both TCP and UDP; hence, officially ports have two entries
# even if the protocol doesn't support UDP operations.
#
# Updated from https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml .
#
# New ports will be added on request if they have been officially assigned
# by IANA and used in the real-world or are needed by a debian package.
# If you need a huge list of used numbers please install the nmap package.

tcpmux          1/tcp                           # TCP port service multiplexer
echo            7/tcp
echo            7/udp
discard         9/tcp           sink null
discard         9/udp           sink null
systat          11/tcp          users
daytime         13/tcp
daytime         13/udp
netstat         15/tcp
qotd            17/tcp          quote
chargen         19/tcp          ttytst source
chargen         19/udp          ttytst source
ftp-data        20/tcp
ftp             21/tcp
fsp             21/udp          fspd
ssh             22/tcp                          # SSH Remote Login Protocol
telnet          23/tcp
smtp            25/tcp          mail
time            37/tcp          timserver
time            37/udp          timserver
whois           43/tcp          nicname
tacacs          49/tcp                          # Login Host Protocol (TACACS)
tacacs          49/udp
domain          53/tcp                          # Domain Name Server
domain          53/udp
bootps          67/udp
bootpc          68/udp
tftp            69/udp
gopher          70/tcp                          # Internet Gopher
finger          79/tcp
http            80/tcp          www             # WorldWideWeb HTTP
kerberos        88/tcp          kerberos5 krb5 kerberos-sec     # Kerberos v5
kerberos        88/udp          kerberos5 krb5 kerberos-sec     # Kerberos v5
iso-tsap        102/tcp         tsap            # part of ISODE
acr-nema        104/tcp         dicom           # Digital Imag. & Comm. 300
pop3            110/tcp         pop-3           # POP version 3
sunrpc          111/tcp         portmapper      # RPC 4.0 portmapper
sunrpc          111/udp         portmapper
auth            113/tcp         authentication tap ident
nntp            119/tcp         readnews untp   # USENET News Transfer Protocol
ntp             123/udp                         # Network Time Protocol
epmap           135/tcp         loc-srv         # DCE endpoint resolution
netbios-ns      137/tcp                         # NETBIOS Name Service
netbios-ns      137/udp
netbios-dgm     138/tcp                         # NETBIOS Datagram Service
netbios-dgm     138/udp
netbios-ssn     139/tcp                         # NETBIOS session service
netbios-ssn     139/udp
imap2           143/tcp         imap            # Interim Mail Access P 2 and 4
snmp            161/tcp                         # Simple Net Mgmt Protocol
snmp            161/udp
snmp-trap       162/tcp         snmptrap        # Traps for SNMP
snmp-trap       162/udp         snmptrap
cmip-man        163/tcp                         # ISO mgmt over IP (CMOT)
cmip-man        163/udp
cmip-agent      164/tcp
cmip-agent      164/udp
mailq           174/tcp                 # Mailer transport queue for Zmailer
xdmcp           177/udp                 # X Display Manager Control Protocol
bgp             179/tcp                         # Border Gateway Protocol
smux            199/tcp                         # SNMP Unix Multiplexer
qmtp            209/tcp                         # Quick Mail Transfer Protocol
z3950           210/tcp         wais            # NISO Z39.50 database
ipx             213/udp                         # IPX [RFC1234]
ptp-event       319/udp
ptp-general     320/udp
pawserv         345/tcp                         # Perf Analysis Workbench
zserv           346/tcp                         # Zebra server
rpc2portmap     369/tcp
rpc2portmap     369/udp                         # Coda portmapper
codaauth2       370/tcp
codaauth2       370/udp                         # Coda authentication server
clearcase       371/udp         Clearcase
ldap            389/tcp                 # Lightweight Directory Access Protocol
ldap            389/udp
svrloc          427/tcp                         # Server Location
svrloc          427/udp
https           443/tcp                         # http protocol over TLS/SSL
snpp            444/tcp                         # Simple Network Paging Protocol
microsoft-ds    445/tcp                         # Microsoft Naked CIFS
microsoft-ds    445/udp
kpasswd         464/tcp
kpasswd         464/udp
submissions     465/tcp         ssmtp smtps urd # Submission over TLS [RFC8314]
saft            487/tcp                 # Simple Asynchronous File Transfer
isakmp          500/udp                         # IPSEC key management
rtsp            554/tcp                 # Real Time Stream Control Protocol
rtsp            554/udp
nqs             607/tcp                         # Network Queuing system
asf-rmcp        623/udp         # ASF Remote Management and Control Protocol
qmqp            628/tcp
ipp             631/tcp                         # Internet Printing Protocol
#
# UNIX specific services
#
exec            512/tcp
biff            512/udp         comsat
login           513/tcp
who             513/udp         whod
shell           514/tcp         cmd syslog      # no passwords used
syslog          514/udp
printer         515/tcp         spooler         # line printer spooler
talk            517/udp
ntalk           518/udp
route           520/udp         router routed   # RIP
gdomap          538/tcp                         # GNUstep distributed objects
gdomap          538/udp
uucp            540/tcp         uucpd           # uucp daemon
klogin          543/tcp                         # Kerberized `rlogin' (v5)
kshell          544/tcp         krcmd           # Kerberized `rsh' (v5)
dhcpv6-client   546/udp
dhcpv6-server   547/udp
afpovertcp      548/tcp                         # AFP over TCP
nntps           563/tcp         snntp           # NNTP over SSL
submission      587/tcp                         # Submission [RFC4409]
ldaps           636/tcp                         # LDAP over SSL
ldaps           636/udp
tinc            655/tcp                         # tinc control port
tinc            655/udp
silc            706/tcp
kerberos-adm    749/tcp                         # Kerberos `kadmin' (v5)
#
domain-s        853/tcp                         # DNS over TLS [RFC7858]
domain-s        853/udp                         # DNS over DTLS [RFC8094]
rsync           873/tcp
ftps-data       989/tcp                         # FTP over SSL (data)
ftps            990/tcp
telnets         992/tcp                         # Telnet over SSL
imaps           993/tcp                         # IMAP over SSL
pop3s           995/tcp                         # POP-3 over SSL
#
# From ``Assigned Numbers'':
#
#> The Registered Ports are not controlled by the IANA and on most systems
#> can be used by ordinary user processes or programs executed by ordinary
#> users.
#
#> Ports are used in the TCP [45,106] to name the ends of logical
#> connections which carry long term conversations.  For the purpose of
#> providing services to unknown callers, a service contact port is
#> defined.  This list specifies the port used by the server process as its
#> contact port.  While the IANA can not control uses of these ports it
#> does register or list uses of these ports as a convienence to the
#> community.
#
socks           1080/tcp                        # socks proxy server
proofd          1093/tcp
rootd           1094/tcp
openvpn         1194/tcp
openvpn         1194/udp
rmiregistry     1099/tcp                        # Java RMI Registry
lotusnote       1352/tcp        lotusnotes      # Lotus Note
ms-sql-s        1433/tcp                        # Microsoft SQL Server
ms-sql-s        1433/udp
ms-sql-m        1434/tcp                        # Microsoft SQL Monitor
ms-sql-m        1434/udp
ingreslock      1524/tcp
datametrics     1645/tcp        old-radius
datametrics     1645/udp        old-radius
sa-msg-port     1646/tcp        old-radacct
sa-msg-port     1646/udp        old-radacct
kermit          1649/tcp
groupwise       1677/tcp
l2f             1701/udp        l2tp
radius          1812/tcp
radius          1812/udp
radius-acct     1813/tcp        radacct         # Radius Accounting
radius-acct     1813/udp        radacct
cisco-sccp      2000/tcp                        # Cisco SCCP
nfs             2049/tcp                        # Network File System
nfs             2049/udp                        # Network File System
gnunet          2086/tcp
gnunet          2086/udp
rtcm-sc104      2101/tcp                        # RTCM SC-104 IANA 1/29/99
rtcm-sc104      2101/udp
gsigatekeeper   2119/tcp
gris            2135/tcp                # Grid Resource Information Server
cvspserver      2401/tcp                        # CVS client/server operations
venus           2430/tcp                        # codacon port
venus           2430/udp                        # Venus callback/wbc interface
venus-se        2431/tcp                        # tcp side effects
venus-se        2431/udp                        # udp sftp side effect
codasrv         2432/tcp                        # not used
codasrv         2432/udp                        # server port
codasrv-se      2433/tcp                        # tcp side effects
codasrv-se      2433/udp                        # udp sftp side effect
mon             2583/tcp                        # MON traps
mon             2583/udp
dict            2628/tcp                        # Dictionary server
f5-globalsite   2792/tcp
gsiftp          2811/tcp
gpsd            2947/tcp
gds-db          3050/tcp        gds_db          # InterBase server
icpv2           3130/tcp        icp             # Internet Cache Protocol
icpv2           3130/udp        icp
isns            3205/tcp                        # iSNS Server Port
isns            3205/udp                        # iSNS Server Port
iscsi-target    3260/tcp
mysql           3306/tcp
ms-wbt-server   3389/tcp
nut             3493/tcp                        # Network UPS Tools
nut             3493/udp
distcc          3632/tcp                        # distributed compiler
distcc          3632/udp
daap            3689/tcp                        # Digital Audio Access Protocol
daap            3689/udp
svn             3690/tcp        subversion      # Subversion protocol
svn             3690/udp        subversion
suucp           4031/tcp                        # UUCP over SSL
suucp           4031/udp
sysrqd          4094/tcp                        # sysrq daemon
sysrqd          4094/udp
sieve           4190/tcp                        # ManageSieve Protocol
epmd            4369/tcp                        # Erlang Port Mapper Daemon
epmd            4369/udp
remctl          4373/tcp                # Remote Authenticated Command Service
remctl          4373/udp
f5-iquery       4353/tcp                        # F5 iQuery
f5-iquery       4353/udp
ipsec-nat-t     4500/udp                        # IPsec NAT-Traversal [RFC3947]
iax             4569/tcp                        # Inter-Asterisk eXchange
iax             4569/udp
mtn             4691/tcp                        # monotone Netsync Protocol
mtn             4691/udp
radmin-port     4899/tcp                        # RAdmin Port
radmin-port     4899/udp
sip             5060/tcp                        # Session Initiation Protocol
sip             5060/udp
sip-tls         5061/tcp
sip-tls         5061/udp
xmpp-client     5222/tcp        jabber-client   # Jabber Client Connection
xmpp-server     5269/tcp        jabber-server   # Jabber Server Connection
cfengine        5308/tcp
mdns            5353/udp                        # Multicast DNS
postgresql      5432/tcp        postgres        # PostgreSQL Database
freeciv         5556/tcp        rptp            # Freeciv gameplay
amqps           5671/tcp                        # AMQP protocol over TLS/SSL
amqp            5672/tcp
amqp            5672/udp
amqp            5672/sctp
x11             6000/tcp        x11-0           # X Window System
x11-1           6001/tcp
x11-2           6002/tcp
x11-3           6003/tcp
x11-4           6004/tcp
x11-5           6005/tcp
x11-6           6006/tcp
x11-7           6007/tcp
gnutella-svc    6346/tcp                        # gnutella
gnutella-svc    6346/udp
gnutella-rtr    6347/tcp                        # gnutella
gnutella-rtr    6347/udp
sge-qmaster     6444/tcp        sge_qmaster     # Grid Engine Qmaster Service
sge-execd       6445/tcp        sge_execd       # Grid Engine Execution Service
mysql-proxy     6446/tcp                        # MySQL Proxy
babel           6696/udp                        # Babel Routing Protocol
ircs-u          6697/tcp                # Internet Relay Chat via TLS/SSL
afs3-fileserver 7000/tcp        bbs             # file server itself
afs3-fileserver 7000/udp        bbs
afs3-callback   7001/tcp                        # callbacks to cache managers
afs3-callback   7001/udp
afs3-prserver   7002/tcp                        # users & groups database
afs3-prserver   7002/udp
afs3-vlserver   7003/tcp                        # volume location database
afs3-vlserver   7003/udp
afs3-kaserver   7004/tcp                        # AFS/Kerberos authentication
afs3-kaserver   7004/udp
afs3-volser     7005/tcp                        # volume managment server
afs3-volser     7005/udp
afs3-errors     7006/tcp                        # error interpretation service
afs3-errors     7006/udp
afs3-bos        7007/tcp                        # basic overseer process
afs3-bos        7007/udp
afs3-update     7008/tcp                        # server-to-server updater
afs3-update     7008/udp
afs3-rmtsys     7009/tcp                        # remote cache manager service
afs3-rmtsys     7009/udp
font-service    7100/tcp        xfs             # X Font Service
http-alt        8080/tcp        webcache        # WWW caching service
puppet          8140/tcp                        # The Puppet master service
bacula-dir      9101/tcp                        # Bacula Director
bacula-fd       9102/tcp                        # Bacula File Daemon
bacula-sd       9103/tcp                        # Bacula Storage Daemon
xmms2           9667/tcp        # Cross-platform Music Multiplexing System
nbd             10809/tcp                       # Linux Network Block Device
zabbix-agent    10050/tcp                       # Zabbix Agent
zabbix-trapper  10051/tcp                       # Zabbix Trapper
amanda          10080/tcp                       # amanda backup services
dicom           11112/tcp
hkp             11371/tcp                       # OpenPGP HTTP Keyserver
db-lsp          17500/tcp                       # Dropbox LanSync Protocol
dcap            22125/tcp                       # dCache Access Protocol
gsidcap         22128/tcp                       # GSI dCache Access Protocol
wnn6            22273/tcp                       # wnn6

#
# Datagram Delivery Protocol services
#
rtmp            1/ddp                   # Routing Table Maintenance Protocol
nbp             2/ddp                   # Name Binding Protocol
echo            4/ddp                   # AppleTalk Echo Protocol
zip             6/ddp                   # Zone Information Protocol

#=========================================================================
# The remaining port numbers are not as allocated by IANA.
#=========================================================================

# Kerberos (Project Athena/MIT) services
kerberos4       750/udp         kerberos-iv kdc # Kerberos (server)
kerberos4       750/tcp         kerberos-iv kdc
kerberos-master 751/udp         kerberos_master # Kerberos authentication
kerberos-master 751/tcp
passwd-server   752/udp         passwd_server   # Kerberos passwd server
krb-prop        754/tcp         krb_prop krb5_prop hprop # Kerberos slave propagation
zephyr-srv      2102/udp                        # Zephyr server
zephyr-clt      2103/udp                        # Zephyr serv-hm connection
zephyr-hm       2104/udp                        # Zephyr hostmanager
iprop           2121/tcp                        # incremental propagation
supfilesrv      871/tcp                 # Software Upgrade Protocol server
supfiledbg      1127/tcp                # Software Upgrade Protocol debugging

#
# Services added for the Debian GNU/Linux distribution
#
poppassd        106/tcp                         # Eudora
poppassd        106/udp
moira-db        775/tcp         moira_db        # Moira database
moira-update    777/tcp         moira_update    # Moira update protocol
moira-ureg      779/udp         moira_ureg      # Moira user registration
spamd           783/tcp                         # spamassassin daemon
skkserv         1178/tcp                        # skk jisho server port
predict         1210/udp                        # predict -- satellite tracking
rmtcfg          1236/tcp                        # Gracilis Packeten remote config server
xtel            1313/tcp                        # french minitel
xtelw           1314/tcp                        # french minitel
support         1529/tcp                        # GNATS
cfinger         2003/tcp                        # GNU Finger
frox            2121/tcp                        # frox: caching ftp proxy
zebrasrv        2600/tcp                        # zebra service
zebra           2601/tcp                        # zebra vty
ripd            2602/tcp                        # ripd vty (zebra)
ripngd          2603/tcp                        # ripngd vty (zebra)
ospfd           2604/tcp                        # ospfd vty (zebra)
bgpd            2605/tcp                        # bgpd vty (zebra)
ospf6d          2606/tcp                        # ospf6d vty (zebra)
ospfapi         2607/tcp                        # OSPF-API
isisd           2608/tcp                        # ISISd vty (zebra)
afbackup        2988/tcp                        # Afbackup system
afbackup        2988/udp
afmbackup       2989/tcp                        # Afmbackup system
afmbackup       2989/udp
fax             4557/tcp                        # FAX transmission service (old)
hylafax         4559/tcp                        # HylaFAX client-server protocol (new)
distmp3         4600/tcp                        # distmp3host daemon
munin           4949/tcp        lrrd            # Munin
enbd-cstatd     5051/tcp                        # ENBD client statd
enbd-sstatd     5052/tcp                        # ENBD server statd
pcrd            5151/tcp                        # PCR-1000 Daemon
noclog          5354/tcp                        # noclogd with TCP (nocol)
noclog          5354/udp                        # noclogd with UDP (nocol)
hostmon         5355/tcp                        # hostmon uses TCP (nocol)
hostmon         5355/udp                        # hostmon uses UDP (nocol)
rplay           5555/udp                        # RPlay audio service
nrpe            5666/tcp                        # Nagios Remote Plugin Executor
nsca            5667/tcp                        # Nagios Agent - NSCA
mrtd            5674/tcp                        # MRT Routing Daemon
bgpsim          5675/tcp                        # MRT Routing Simulator
canna           5680/tcp                        # cannaserver
syslog-tls      6514/tcp                        # Syslog over TLS [RFC5425]
sane-port       6566/tcp        sane saned      # SANE network scanner daemon
ircd            6667/tcp                        # Internet Relay Chat
zope-ftp        8021/tcp                        # zope management by ftp
tproxy          8081/tcp                        # Transparent Proxy
omniorb         8088/tcp                        # OmniORB
omniorb         8088/udp
clc-build-daemon 8990/tcp                       # Common lisp build daemon
xinetd          9098/tcp
mandelspawn     9359/udp        mandelbrot      # network mandelbrot
git             9418/tcp                        # Git Version Control System
zope            9673/tcp                        # zope server
webmin          10000/tcp
kamanda         10081/tcp                       # amanda backup services (Kerberos)
amandaidx       10082/tcp                       # amanda backup services
amidxtape       10083/tcp                       # amanda backup services
smsqp           11201/tcp                       # Alamin SMS gateway
smsqp           11201/udp
xpilot          15345/tcp                       # XPilot Contact Port
xpilot          15345/udp
sgi-cmsd        17001/udp               # Cluster membership services daemon
sgi-crsd        17002/udp
sgi-gcd         17003/udp                       # SGI Group membership daemon
sgi-cad         17004/tcp                       # Cluster Admin daemon
isdnlog         20011/tcp                       # isdn logging system
isdnlog         20011/udp
vboxd           20012/tcp                       # voice box system
vboxd           20012/udp
binkp           24554/tcp                       # binkp fidonet protocol
asp             27374/tcp                       # Address Search Protocol
asp             27374/udp
csync2          30865/tcp                       # cluster synchronization tool
dircproxy       57000/tcp                       # Detachable IRC Proxy
tfido           60177/tcp                       # fidonet EMSI over telnet
fido            60179/tcp                       # fidonet EMSI over TCP

# Local services


Lots of great information.  Bottom line:
```
10.124.39.37 -> 10.106.116.197 TCP 42779 > 60001 [SYN] - Cisco router.
10.106.116.197 -> 10.124.39.37 TCP 60001 > 42782 [RST, ACK] - network card from device yangsuite is installed on.
```
- Cisco device sent the [ACK].
- This network interface replied with [RST, ACK]:
```
2: ens32: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel state UP group default qlen 1000
link/ether 00:50:56:bd:28:b4 brd ff:ff:ff:ff:ff:ff
altname enp2s0
inet 10.106.116.197/27 brd 10.106.116.223 scope global noprefixroute ens32
valid_lft forever preferred_lft forever
inet6 fe80::250:56ff:febd:28b4/64 scope link noprefixroute
valid_lft forever preferred_lft forever
```
Not sure "``noprefixroute``" is a good thing.

What is the telemetry configuration, and, what is the telemetry status showing on Cisco device?

It shows us "Transmit Error"


N93180EX-1-netconf(conf-tm-dest)# show running-config telemetry 

!Command: show running-config telemetry
!Running configuration last done at: Mon Mar 13 10:46:03 2023
!Time: Mon Mar 13 10:46:08 2023

version 9.3(7) Bios:version 07.69 
feature telemetry

telemetry
  destination-group 1
    ip address 10.106.116.197 port 60001 protocol gRPC encoding GPB 
    use-vrf management
  sensor-group 1
    data-source NX-API
    path "show environment power" depth 0
    path "show system resources" depth 0
    path "show version" depth 0
  subscription 1
    dst-grp 1
    snsr-grp 1 sample-interval 10000
    
    
    
N93180EX-1-netconf# show telemetry transport 

Session Id      IP Address      Port       Encoding     Transport  Status    
--------------------------------------------------------------------------------
0               10.106.116.197  60001      GPB          gRPC       Transmit Error
--------------------------------------------------------------------------------

Retry buffer Size:             10485760            
Event Retry Messages (Bytes):  0                   
Timer Retry Messages (Bytes):  0                   
Total Retries sent:            0                   
Total Retries Dropped:         0                   

N93180EX-1-netconf# 


N93180EX-1-netconf# ping 10.106.116.197 vrf management 
PING 10.106.116.197 (10.106.116.197): 56 data bytes
64 bytes from 10.106.116.197: icmp_seq=0 ttl=45 time=132.169 ms
64 bytes from 10.106.116.197: icmp_seq=1 ttl=45 time=128.827 ms
64 bytes from 10.106.116.197: icmp_seq=2 ttl=45 time=128.523 ms
64 bytes from 10.106.116.197: icmp_seq=3 ttl=45 time=130.285 ms
64 bytes from 10.106.116.197: icmp_seq=4 ttl=45 time=128.336 ms

--- 10.106.116.197 ping statistics ---
5 packets transmitted, 5 packets received, 0.00% packet loss
round-trip min/avg/max = 128.336/129.628/132.169 ms
N93180EX-1-netconf# 

That made the N9K telemetry thread stuck an error.


[03/13/23 11:09:25.748 UTC 132ef 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:09:30.215 UTC 132f0 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:09:31.025 UTC 132f1 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:09:31.359 UTC 132f2 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:09:40.221 UTC 132f3 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:09:41.059 UTC 132f4 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:09:41.403 UTC 132f5 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:09:50.283 UTC 132f6 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:09:51.038 UTC 132f7 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:09:51.378 UTC 132f8 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:10:00.183 UTC 132f9 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
[03/13/23 11:10:01.028 UTC 132fa 16695] [3450702656][tm_gpb_wrapper.cc:3029] getsockopt error reason:Operation now in progress
5001 entries printed

I'm running into a  similar error.  When I try to start the telemetry collector it just says error.  I'm trying to use port 57344.  It's exposed via docker and shows running with the netstat command.

![image](https://user-images.githubusercontent.com/109309965/225017601-cae11e86-a341-445f-90d9-6387bb4ab49e.png)

